:root {
    --primaryColor: #ffffff;
    --secondaryColor: #f8f8f8;
    --ternaryColor: #1a67af;
    --ternaryHoverColor: #0b6ac2;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6b6b6b;
    font-weight: 100;
    background-color: #fdfdfd;
    overflow: hidden;
    box-sizing: border-box;
}
table {
    margin: auto;
    background-color: var(--secondaryColor);
}

table,
td {
    border: 1px solid #c2c2c2;
    border-radius: 4px;
}

#display {
    height: 6rem;
    font-size: 3rem;
    font-weight: 400;
    text-align: right;
    vertical-align: bottom;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}

td {
    background-color: var(--primaryColor);
    text-align: center;
    width: 7.5rem;
    height: 5rem;
    font-size: 2rem;
    cursor: pointer;
}

td:hover {
    background-color: var(--secondaryColor);
    transform: scale(0.97);
}

#equal-btn {
    background-color: var(--ternaryColor);
    color: var(--primaryColor);
}
#equal-btn:hover {
    background-color: var(--ternaryHoverColor);
}
.del {
    font-size: 1.2rem;
}

.del,
.signs {
    background-color: #fdfdfd05;
}

.number,
#display {
    color: #000000;
    font-weight: 400;
}

.active {
    background-color: #fff4c460;
}

#footer {
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
p {
    font-size: 20px;
    margin: 0;
}
#logo {
    width: 35px;
    transition: ease-in 0.3s;
}
#logo:hover {
    transform: scale(1.11);
}
